.dashboard{
    .search-box {
        display: flex;
        gap: 0 12px;
        .add-btn {
            min-width: 15%;
        }
    }
    .page-content {
        padding: 12px;
        background-color: #fff;
        border-radius : 6px;
    }
    .task-table{
        margin-top: 12px;
        &-row {
            &-action-buttons {
                display: flex;
                justify-content: center;
                gap: 0 12px;
            }
        }
    }
}