.page-heading {
    margin: 12px 0;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    
}
.page-content {
    margin: 12px 0;
}
.pagination {
    margin-bottom: 0 !important;
}
.dropdown-menu{
    width: 100%;
}
